<div class="navbar-container">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'navbar-logo' %>
    <% end %>
  </div>

  <div class="navbar-right">
    <div class="navbar-links">
      <%= link_to root_path, class: 'navbar-link' do %>
        <i class="fa-regular fa-calendar"></i>
        <p class="btn-text">Objectif</p>
      <% end %>

      <%= link_to books_path, class: 'navbar-link' do %>
        <i class="fa-solid fa-chart-column"></i>
        <p class="btn-text">Récap</p>
      <% end %>
    </div>
  </div>
</div>
