<div class="container-navbar">
  <div class="search-bar">
    <input type="text" id="search-query" placeholder="Rechercher des livres..." />
    <button id="search-button">Rechercher</button>
  </div>
  <div id="search-results" class="search-results"></div>
</div>
