<div class="container-banner">
  <div class="banner-home-content">
    <h1 class="banner-title">Lisez aujourd'hui, souvenez-vous toujours.</h1>
    <%= link_to 'Ajouter une lecture', new_book_path, class: 'banner-button' %>
  </div>
</div>
