<div class="row">
    <% @books.each do |book| %>
      <div class="col-3">
        <div class="card-book-index">
          <%= link_to book_path(book), class: 'book-index-link' do  %>
            <div class="img-book-index">
              <%= image_tag("book default.png") %>
            </div>
            <div class="card-book-info">
              <h3 class="book-index-title"><%= book.title %></h5>
              
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
