<div class="container-banner">
  <div class="banner-home-content">
    <h1 class="banner-title">Lisez aujourd'hui, souvenez-vous toujours.</h1>
    <%= link_to 'Ajouter une lecture', new_book_path, class: 'banner-button' %>
  </div>
</div>



<div class="container-index-bibliothèque">
  <div class="title-bibliothèque">
    <h2>Ma bibliothèque</h2>
    <p><%= link_to 'Tout voir', books_path, class: 'book-tout-voir-link'%></p>
  </div>
  <%= render "card" %>
</div>
