<%= render "banner" %>

<div class="container-index-bibliothèque">
  <div class="title-bibliothèque">
    <h2>Ma bibliothèque</h2>
    <p><%= link_to 'Tout voir', books_path, class: 'book-tout-voir-link'%></p>
  </div>
  <%= render "card" %>
</div>
