<h1>Ma bibliothèque</h1>

<%= link_to "Retour à l'accueil", root_path  %>

<%= link_to 'Nouveau livre', new_book_path, class: 'btn btn-primary mb-3' %>

<div class="container-index-bibliothèque">
  <div class="title-bibliothèque">
    <p>Trier par:</p>
  </div>
  <%= render "card" %>
</div>
