<div class="search-results-container" data-controller="book-search">
  <h2>Résultats de recherche pour "<%= @query %>"</h2>
  <div id="search-results" data-book-search-target="results">
  </div>
</div>
