<div class="container-index-bibliothèque" data-controller="search-results">
  <h2>Résultats de la recherche pour "<%= @query %>"</h2>
  <div class="row" data-search-results-target="results" id="results-container"></div>
</div>
