.container-banner {
  display: flex;
  position: relative;
  background-image: url('banner.png');
  background-position: center;
  display: flex;
  color: white;
  width: auto;
  height: 85vh;
  border-radius: 10px;
  background-size: cover;
  margin: 80px;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.banner-home-content {
  display: flex;
  flex-direction: column; /* Arrange les enfants verticalement */
  align-items: center; /* Centre les enfants horizontalement */
  text-align: center; /* Pour centrer le texte à l'intérieur */
  position: relative; /* Nécessaire pour positionner le bouton */
  position: absolute; /* Nécessaire pour positionner le bouton */
  top: 90px;
}

.banner-button {
  background-color: #5C9EAD;
  margin-top: 15px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  align-self: flex-end; /* Aligne le bouton à la droite du conteneur */
}

.banner-title {
  font-size: 48px;
}
