.col-3 {
  display: flex;
  justify-content: center;
}

.card-book-index {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 285px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  height: 475px;
  justify-content: center;
  margin-bottom: 40px;
}

.card-book-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.book-index-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -3px;
  color: black;
}

.book-index-link {
  text-decoration: none;
  color: #003559;
}



.book-index-reading-status{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  font-size: 14px;
  color: black;
}

.img-book-index {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-index-author {
  padding: 1px;
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
  margin-top: 8px;
}

.book-index-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.rating .fa-star {
  font-size: 16px;
  margin-right: 4px;
}

.fa-star-blue {
  color: #5C9EAD;
}

.fa-star-grey {
  color: #F0F0F0;
}


.book-index-reading-status .fa {
  font-size: 100px;
  margin-right: 8px;
  color: #5C9EAD;
}
