.container-index-bibliothèque {
  display: flex;
  flex-direction: column;
  margin: 80px;
}

.title-bibliothèque {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #003559;
  margin: 5px;
}

.book-tout-voir-link{
  text-decoration: none;
  color: #003559;
}

.col-3 {
  display: flex;
  justify-content: center;
}

.card-book-index {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 285px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  height: 532px;
  justify-content: center;
}

.card-book-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.book-index-title {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 8px 0;
  color: black;
}

.book-index-link {
  text-decoration: none;
  color: #003559;
}



.book-index-reading-status{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: 14px;
  color: black;
}

.img-book-index {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-index-author {
  padding: 1px;
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
}

.book-index-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.rating .fa-star {
  font-size: 16px;
  margin-right: 4px;
}

.fa-star-blue {
  color: #5C9EAD;
}

.fa-star-grey {
  color: #F0F0F0;
}


.book-index-reading-status .fa {
  font-size: 20px;
  margin-right: 8px;
  color: #5C9EAD;
}

.container-banner {
  position: relative;
  background-image: url('banner.png');
  background-position: center;
  display: flex;
  color: white;
  width: auto;
  height: 600px;
  border-radius: 10px;
  background-size: cover;
  margin: 80px;
}

.banner-home-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;


}


.banner-title {
  margin: 0 0 20px 0;
  font-size: 48px;
}

.banner-button {
  background-color: #5C9EAD;
  margin-top: 15px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  align-self: flex-end;
}
