.container-index-bibliothèque {
  display: flex;
  flex-direction: column;
  margin: 80px;
}

.title-bibliothèque {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #003559;
  margin: 5px;
}

.book-tout-voir-link{
  text-decoration: none;
  color: #003559;
}
