.col-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.card-book-index {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  margin: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 523px;
  justify-content: center;
}

.book-index-title {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 8px 0;
}


.book-index-reading-status{
  display: flex;
  flex-direction: row;
}

.img-book-index {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-index-author {
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
}

.book-index-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.rating .fa-star {
  font-size: 16px;
  margin-right: 4px;
}

.fa-star-blue {
  color: #5C9EAD;
}

.fa-star-grey {
  color: #F0F0F0;
}

.book-index-reading-status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #757575;
}

.book-index-reading-status .fa {
  font-size: 20px;
  margin-right: 8px;
}
